schemas/arcos-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://arcos.ai/core"
           xmlns="http://arcos.ai/core"
           elementFormDefault="qualified">

    <xs:element name="ArcosMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Header" type="HeaderType"/>
                <xs:element name="Body" type="BodyType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element name="MessageID" type="xs:string"/>
            <xs:element name="Sender" type="xs:string"/>
            <xs:element name="Timestamp" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BodyType">
        <xs:sequence>
            <xs:element name="Ticker" type="xs:string"/>
            <xs:element name="Signal" type="xs:string"/>
            <xs:element name="Probability" type="xs:float"/>
            <xs:element name="Uncertainty" type="xs:float"/>
            <xs:element name="SampleSize" type="xs:integer"/>
            <xs:element name="Rationale" type="xs:string"/>
            <xs:element name="Signature" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>